<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="SCADA_ServerSoap" maxReceivedMessageSize="2147483647">
                <security mode="Transport">
                  <transport clientCredentialType="Windows" />
                </security>
              </binding>
                <binding name="BasicHttpBinding_SCADA_ServerSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/MockScadaServerService"
                binding="basicHttpBinding" bindingConfiguration="SCADA_ServerSoap"
                contract="SCADA_ServerSoap" name="SCADA_ServerSoap" />
            <endpoint address="http://localhost:8081/MockScadaServerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SCADA_ServerSoap"
                contract="ServiceReference1.SCADA_ServerSoap" name="BasicHttpBinding_SCADA_ServerSoap" />
        </client>
    </system.serviceModel>
</configuration>