<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="IpAddressOfServer1" value="192.168.16.70"></add>
    <add key="IpAddressOfServer2" value="65.96.190.120"></add>
    <add key="IpAddressOfServer3" value="192.168.0.2"></add>
    <add key="IpAddressOfServer4" value="12.218.155.155"></add>
  </appSettings>
    <system.serviceModel>
    <client>
        <endpoint address="http://192.168.16.70:8081/MockScadaServerService"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SCADA_ServerSoap"
            contract="ServiceReference1.SCADA_ServerSoap" name="BasicHttpBinding_SCADA_ServerSoap" />
    </client>
    <bindings>
        <basicHttpBinding>
            <binding name="SCADA_ServerSoap" />
            <binding name="SCADA_ServerSoap11" />
            <binding name="SCADA_ServerSoap12" />
            <binding name="BasicHttpBinding_SCADA_ServerSoap" />
        </basicHttpBinding>
        <customBinding>
            <binding name="SCADA_ServerSoap11">
                <textMessageEncoding messageVersion="Soap11" />
                <httpTransport />
            </binding>
            <binding name="SCADA_ServerSoap12">
                <textMessageEncoding messageVersion="Soap12" />
                <httpTransport />
            </binding>
        </customBinding>
    </bindings>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="200000"/>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="c:\Temp\SCADA.svclog" type="System.Diagnostics.XmlWriterTraceListener"
            name="messages">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Temp\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
